<div class="container" style="height: 60vh;">
  <%= render AlertComponent.new(type: "success", content: notice) if notice %>
  <%= render AlertComponent.new(type: "danger", content: alert) if alert %>

  <div class="row h-100 justify-content-md-center">
    <div class="col-sm-6 my-auto">
      <%= form_for @game do |f| %>
        <div class="card">
          <div class="card-body">
            <!-- <h5 class="card-title">New Game</h5> -->
            <h5>Select a starting airport</h5>
            <p class="card-text">
<!--                   <label for="game-name" class="form-label">Name your game</label>
              <input name="game[name]" class="form-control" id="game-name"> -->
              <input type="hidden" name="game[name]" value="<%= "Game-#{SecureRandom.hex}" %>">
              <!-- <label for="game-starting-airport" class="form-label">Select a starting airport</label> -->
              <div class="input-group has-validation">
                <input name="game[starting_airport]" class="form-control <%= @game.errors.any? && "is-invalid" %>" list="datalistOptions" id="game-starting-airport" placeholder="Type to search...">
                <datalist id="datalistOptions">
                  <%=raw Airport.select(:name, :ident).all.map { |a| %(<option value="#{a.name}">#{a.ident}</option>) }.join("\n") %>
                </datalist>
                <div class="invalid-feedback">
                  <%= @game.errors.full_messages.first %>
                </div>
              </div>
            </p>
            <%= f.submit "Continue", class: "btn btn-primary float-right" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="horizon"></div>
