<!DOCTYPE html>
<html>
  <head>
    <title>Vimana</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="importmap">
      {
        "imports": {
          "preact": "https://cdn.skypack.dev/preact",
          "htm": "https://cdn.skypack.dev/htm"
        }
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV.fetch("GOOGLE_MAPS_API_KEY") %>&libraries=&v=weekly"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script>
      currentAirport = <%=raw @game.current_airport.as_js_object.to_json %>
    </script>
  </head>
  <body style="height: 100vh; width: 100vw;">
    <div class="game" style="display: flex; height: 100%; width: 100vw;">
      <div class="info" id="game-info" style="width: 50%;">
      </div>
      <div id="map" data-controller="map" data-map-airport-icon="<%= asset_path("airport.svg") %>" style="width: 50%; background-color: blue">
      </div>
      <script type="module" src="/buildless/application.js"></script>
  </body>
</html>
