<!DOCTYPE html>
<html>
  <head>
    <title>Vimana</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="importmap">
      {
        "imports": {
          "preact": "https://cdn.skypack.dev/preact",
          "htm": "https://cdn.skypack.dev/htm"
        }
      }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV.fetch("GOOGLE_MAPS_API_KEY") %>&libraries=&v=weekly"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>
      airportIconPath = <%=raw asset_path("airport.svg").to_json %>
      currentAirport = <%=raw @game.current_airport.to_json %>
      currentMission = <%=raw @game.current_mission.to_json %>
    </script>
  </head>
  <body style="height: 100vh; width: 100vw;">
    <div class="game" style="display: flex; height: 100%; width: 100vw;">
      <div class="info" id="game-info" style="width: 50%; overflow: scroll;">
      </div>
      <div id="map" data-controller="map" data-map-airport-icon="<%= asset_path("airport.svg") %>" style="width: 50%; background-color: blue">
      </div>
    </div>
    <script type="module" src="/buildless/application.js"></script>
  </body>
</html>
