<!DOCTYPE html>
<html>
  <head>
    <title>Vimana</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="importmap">
      {
        "imports": {
          "@rails/actioncable": "https://cdn.skypack.dev/pin/@rails/actioncable@v6.1.0-tUEjNm8dVh9yweQYgaLq/min/@rails/actioncable.js",
          "@rails/ujs": "https://cdn.skypack.dev/pin/@rails/ujs@v6.1.0-th6kDusDcRDE1IeqP6Zx/min/@rails/ujs.js",
          "preact": "https://cdn.skypack.dev/pin/preact@v10.5.7-apbTSlqiCbFCw96Kpm6e/min/preact.js",
          "htm": "https://cdn.skypack.dev/pin/htm@v3.0.4-eKPIliCVcHknqhs5clvp/min/htm.js",
          "turbolinks": "https://cdn.skypack.dev/pin/turbolinks@v5.2.0-2LUNRijzwSWtzXepBHKc/min/turbolinks.js",
          <%= BuildlessCache.importmap_entries.html_safe %>
        }
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <%= buildless_module "application" %>

    <style type="text/css">
      body {
        background: #050515;
      }

      .horizon {
        width: 100vw;
        height: 100vh;
        padding: 1rem;

        z-index: -1;
        position: absolute;
        top: 0;

        background-image: url('/buildless/images/horizon1.jpg');
        background-size: 100% auto;
        background-position: center bottom;
        background-repeat: no-repeat;

        -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black, black);
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
