<!DOCTYPE html>
<html>
  <head>
    <title>Vimana</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="importmap">
      {
        "imports": {
          "@rails/actioncable": "https://cdn.skypack.dev/pin/@rails/actioncable@v6.1.0-tUEjNm8dVh9yweQYgaLq/min/@rails/actioncable.js",
          "@rails/ujs": "https://cdn.skypack.dev/pin/@rails/ujs@v6.1.0-th6kDusDcRDE1IeqP6Zx/min/@rails/ujs.js",
          "preact": "https://cdn.skypack.dev/pin/preact@v10.5.7-apbTSlqiCbFCw96Kpm6e/min/preact.js",
          "htm": "https://cdn.skypack.dev/pin/htm@v3.0.4-eKPIliCVcHknqhs5clvp/min/htm.js",
          "turbolinks": "https://cdn.skypack.dev/pin/turbolinks@v5.2.0-2LUNRijzwSWtzXepBHKc/min/turbolinks.js",
          <%= BuildlessCache.importmap_entries.html_safe %>
        }
      }
    </script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <%= buildless_module "application" %>

    <style type="text/css">
      body {
        background: #050515;
      }

      .horizon {
        width: 100vw;
        height: 100vh;
        padding: 1rem;

        z-index: -1;
        position: absolute;
        top: 0;

        background-image: url('/buildless/images/horizon1.jpg');
        background-size: 100% auto;
        background-position: center bottom;
        background-repeat: no-repeat;

        -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black, black);
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
